

<div class="row">
  <div class="col-*-*">
    <shared-navbar placeholder="buscar..."></shared-navbar>
  </div>

  <div class="col-2">
    <shared-sidebar></shared-sidebar>
  </div>

  <div class="col-8">
    <h3>User</h3>
    <pre>{{ user() | json }}</pre>
    <button (click)="onLogout()">
      Cerrar Sesión
      <router-outlet></router-outlet>
    </button>
  </div>

  <div class="col">
   <!--  <shared-sidebar></shared-sidebar> -->
  </div>

  <div class="col-*-*">
    <shared-footer></shared-footer>
  </div>

</div>
